%div.row-fluid
  %div.span12{style: "margin-left: auto; margin-right: auto; text-align: center"}
    %p{style: "font-size: 50px; font-family: Verdana"}
      = word
    %br
    %button.btn-primary{onClick: "document.location.reload(true)"}
      next word (or you can just refresh the page)
