%div{style: "margin-left: auto; margin-right: auto; text-align: center"}
  %p.english{style: "font-size: 50px; font-family: Verdana"}
    = english
  %p.korean{style: "font-size: 50px; font-family: Verdana; display:none"}
    = korean
  %button.answer-button{onClick: "$('.korean').show('fast'); $('.answer-button').hide();", style: "width: 300px; height: 50px; border-radius: 10px; -moz-border-radius: 10px;"}
    show answer
  %br
  %br
  %button{onClick: "document.location.reload(true)", style: "width: 300px; height: 50px; border-radius: 10px; -moz-border-radius: 10px;"}
    next word (or you can just refresh the page)

